//Font/Text
a:hover {
    text-decoration: none;
    opacity: .7;
}

h3 {
    color: #E4E6EB;
    font-weight: bold;
}

.bread-crumb {
    color: #E4E6EB;
}

//Table
.table-dark th, .table-dark td, .table-dark thead th {
    border-top: none;
}

.table-dark {
    background: #252526;
    color: #E4E6EB;
    border-radius: 15px;
}

//Card
.card {
    background: #252526;
    border-radius: 15px;
    color: #E4E6EB;

    .card-header {
        border-bottom: 1px solid #3D3D3E;
    }
}

//Form
label {
    color: #E4E6EB;
}

.form-control,
.form-control:focus {
    background: #3B3B3C !important;
    color: #E4E6EB;
    border-color: #636363;
}

.form-control:hover {
    background: #636363;
}
